.navbar{
    background-color: #ed1e24;
    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
.title{
    margin: auto
}
.footer{
    background-color: #ed1e24;
    width: 100%;
    z-index: 5;
    position: fixed;
    bottom: 0px
}
.d-flex{
    background-color: #d8d8d8
}
.container{
background-color: #222222;
z-index: 1;
height: 100%
}